@import 'variables';
@import 'functions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-grayish-blue;
}

.text-thin {
  font-weight: 500;
  font-size: 0.85rem;
  letter-spacing: .1px;
  opacity: 50%;
}

.card {
  position: relative;
  padding: 2rem;
  border-radius: 5px;

  .user-review {
    font-family: 13px;
  }

  & > .user, & > .user-review {
    margin-bottom: 1.5rem;
  }

  .user-note {
    line-height: 1.4;
    opacity: 70%;
  }

  &:first-child > img.quotation {
    position: absolute;
    top: 0;
    right: 15.5%;
    z-index: -1;
  }

  &:first-child {
    z-index: -2;
  }

  &:nth-child(4) .user > img {
    border: 2px solid $moderate-violet;
  }

  &:first-child .user > img {
    border: 2px solid;
    border-color: transparentize($color: $white, $amount: 0.7);
  }
}

.user {
  display: flex;
  align-items: center;
  img {
    border-radius: 50%;
    width: 30px;
  }
  .user-info {
    margin: 0 1rem;
  }
} 

.container {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 1rem;
  margin: 4rem 2rem;
}

.container .card:first-child {
  grid-column: 1 / span 2;
  background-color: $moderate-violet;
  color: set-text-color($moderate-violet);
}

.container .card:nth-child(2) {
  background-color: $dark-grayish-blue;
  color: set-text-color($dark-grayish-blue);
}

.container .card:nth-child(3) {
  grid-row: 2;
  background-color: $white;
  color: set-text-color($white);
  box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.2);
  & .user-review {
    padding-right: 2rem;
  }
}

.container .card:nth-child(4) {
  grid-column: 2 / span 2;
  grid-row: 2;
  background-color: $dark-blackish-blue;
  color: set-text-color($dark-blackish-blue);
}

.container .card:last-child {
  grid-column: 4;
  grid-row: 1 / span 2;
  background-color: $white;
  color: set-text-color($white);
  box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.2);
}

// *Tablets
@media (max-width: 768px) {
  body {
    height: auto;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .container .card:last-child {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
}

// *Smartphones
@media (max-width: 540px) {
  html {
    font-size: 13px;
  }
  body {
    height: auto;
  }
  .container {
    margin: 4rem 2rem;
    grid-template-columns: 1fr;
    & .card:first-child {
      grid-column: 1;
    }
    & .card:nth-child(3) {
      grid-row: 3;
    }
    & .card:nth-child(4) {
      grid-column: 1;
      grid-row: 4;
    }
    & .card:last-child {
      grid-column: 1;
      grid-row: 5;
    }
  }
}